.card {
  background-color: #22223b !important; /* Màu nền tối */
  color: hsl(0, 0%, 100%); /* Màu chữ trắng */
  border-radius: 10px; 
}

.form-control {
  background-color: #495057; /* Màu input tối */
  color: #fff;
  border: 1px solid #6c757d;
}

.form-control::placeholder {
  color: #ccc;
}

.input-group .btn-outline-secondary {
  background-color: #495057;
  color: #fff;
  border: 1px solid #6c757d;
}

.btn-custom-yellow {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: #000 !important;
}

.btn-custom-yellow:hover {
  background-color: #e0a800 !important;
  border-color: #d39e00 !important;
}

.btn-verification-grey {
  background-color: #7e7e7e !important;
  border-color: #7e7e7e !important;
  color: #000 !important;
}
.btn-verification-grey:hover {
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
}